<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>

<body>

    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
        <p>Lugar para poner la barra de búsqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li><a href="ofertas">Ofertas</a></li>
                <li><a href="tiendas-oficiales">Tiendas Oficiales</a></li>
                <li><a href="vender">Vender</a></li>
                <li><a href="ayuda">Ayuda</a></li>
            </ul>
            <div>
                <ul>
                    <li><a href="crea-tu-cuenta">Creá tu cuenta</a></li>
                    <li><a href="ingresa">Ingresá</a></li>
                    <li><a href="mis-compras">Mis compras</a></li>
                </ul>
            </div>
        </nav>
        <img src="/images/img-home-banner.jpg" alt="Imagen banner">
    </header>
    <main>
        <section>
            <h3>Basado en tu última visita</h3>
            <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen cafetera">
            <p>$6.770</p>
            <p>40% OFF</p>
            <p>
            <h4>Cafetera Moulinex</h4>
            </p>

            <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen de MacBook">
            <p>$230.000</p>
            <p>20% off</p>
            <p>
            <h4>MacBook Pro 2019</h4>
            </p>

            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen del Samsung Galaxy">
            <p>$70.500</p>
            <p>10% off</p>
            <p>
            <h4>Samsung Galaxy S10</h4>
            </p>

            <img src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
            <p>$23.200</p>
            <p>5% off</p>
            <p>
            <h4>SmartTv Samsung 43"</h4>
            </p>

        </section>
        <section>
            <h3>Sección de Ofertas</h3>
            <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen cafetera">
            <p>$6.770</p>
            <p>40% off</p>
            <p>
            <h4>Cafetera Moulinex</h4>
            </p>

            <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen de MacBook">
            <P>$230.000</P>
            <P>20% off</P>
            <P>
            <h4>MacBook Pro 2019</h4>
            </P>

            <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen Samsung">
            <p>$70.500</p>
            <p>10% off</p>
            <p>
            <h4>Samsung Galaxy S10</h4>
            </p>

            <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen SmarTv">
            <p>$23.200</p>
            <p>5% off</p>
            <p>
            <h4>SmartTv Samsung 43"</h4>
            </p>
        </section>
    </main>
    <footer>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>


</body>

</html>