<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <header class="header-style">
        <div class="top-header">
            <div>
                <img class="logo-main" src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
            </div>

            <div class="form" action="#" method="GET">
                <div class="input">Buscar productos y más</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
        </div>
        <p>Lugar para poner la barra de búsqueda</p>
        <p class="comp"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>

        <nav class="nav-bar">
            <ul>
                <li><a href="ofertas">Ofertas</a></li>
                <li><a href="tiendas-oficiales">Tiendas Oficiales</a></li>
                <li><a href="vender">Vender</a></li>
                <li><a href="ayuda">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="crea-tu-cuenta">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="ingresa">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="mis-compras">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>

        <div class="burger-menu"><i class="fas fa-bars"></i></div>
    </header>

    <img class="main-banner" src="/images/img-home-banner.jpg" alt="Imagen banner">

    <main class="main-section">
        <section>
            <h3 class="visit-ofert">Basado en tu última visita</h3>

            <div class="box-products">
                <article class="articulo">
                    <img class="photo-product" src="/images/img-cafetera-moulinex.jpg" alt="Imagen cafetera">
                    <div class="box-article">
                        <div class="truck"><i class="fas fa-truck"></i></div>
                        <div class="prec-discount">
                            <p class="precio">$6.770</p>
                            <p class="discount">40% OFF</p>
                        </div>
                        <h4 class="description">Cafetera Moulinex</h4>
                    </div>
                </article>

                <article class="articulo">
                    <img class="photo-product" src="/images/img-macbook-pro-2019.jpg" alt="Imagen de MacBook">
                    <div class="box-article">
                        <div class="truck"><i class="fas fa-truck"></i></div>
                        <div>
                            <p class="precio">$230.000</p>
                            <p class="discount">20% off</p>
                        </div>
                        <h4 class="description">MacBook Pro 2019</h4>
                    </div>
                </article>

                <article class="articulo">
                    <img class="photo-product" src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen del Samsung Galaxy">
                    <div class="box-article">
                        <div class="truck"><i class="fas fa-truck"></i></div>
                        <div>
                            <p class="precio">$70.500</p>
                            <p class="discount">10% off</p>
                        </div>
                        <h4 class="description">Samsung Galaxy S10</h4>
                    </div>
                </article>

                <article class="articulo">
                    <img class="photo-product" src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                    <div class="box-article">
                        <div class="truck"><i class="fas fa-truck"></i></div>
                        <div>
                            <p class="precio">$23.200</p>
                            <p class="discount">5% off</p>
                        </div>
                        <h4 class="description">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>

        </section>

        <section>
            <h3 class="visit-ofert">Ofertas</h3>

            <div class="box-products">
                <article class="articulo">
                    <div>
                        <img class="photo-product" src="/images/img-cafetera-moulinex.jpg" alt="Imagen cafetera">
                        <div class="box-article">
                            <div class="truck"><i class="fas fa-truck"></i></div>
                            <div>
                                <p class="precio">$6.770</p>
                                <p class="discount">40% off</p>
                            </div>
                            <h4 class="description">Cafetera Moulinex</h4>
                        </div>
                </article>

                <article class="articulo">
                    <img class="photo-product" src="/images/img-macbook-pro-2019.jpg" alt="Imagen de MacBook">
                    <div class="box-article">
                        <div class="truck"><i class="fas fa-truck"></i></div>
                        <div>
                            <P class="precio">$230.000</P>
                            <P class="discount">20% off</P>
                        </div>
                        <h4 class="description">MacBook Pro 2019</h4>
                    </div>
                </article>
            </div>
            </div>

        </section>

    </main>

    <footer>
        <section class="pie">
            <div class="icon"><i class="fas fa-credit-card"></i></div>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="pie">
            <div class="icon"><i class="fas fa-gift" class="icon"></i></div>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="pie">
            <div class="icon"><i class="fas fa-user-shield"></i></div>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>


</body>

</html>